<footer class="page-footer blue-grey darken-4">
          <div class="container">
            <div class="row">
              <div class="col s4 right">
                <ul>
                  <li>
                    <a href="https://github.com/ddmler"><i class="fab fa-github fa-lg"></i> ddmler</a>
                  </li>
                  <li>
                    <a href="https://www.linkedin.com/in/enrico-hoeschler/"><i class="fab fa-linkedin fa-lg"></i> Enrico Höschler</a>
                  </li>

                  {% if site.email %}
                  <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
                  {% endif %}
                </ul>
              </div>
            </div>
          </div>
        </footer>
